https://docs.conda.io/projects/conda/en/latest/commands/create.html

https://docs.conda.io/projects/conda/en/4.6.1/user-guide/tasks/manage-environments.html

# Nessa aula vamos discutir a base dos comandos do python

1 - Vamos começar trabalhando manipulando algumas variáveis

In [1]:
# podemos definir uma variável dando um nome para ela, da seguinte maneira
age = 30

In [2]:
# podemos imprimir o valor da variável, como?
print(age)

30

In [3]:
# podemos também imprimir a variável sem dar nome a ela
print(30)

30

In [4]:
#Porém quando temos uma variável com nome, temos a grande vantagem de poder mudar seu valor:
age = 30
print(age)
age = 40
print(age)

30
40

### Boas práticas em relação ao definirmos nomes de variáveis

In [5]:
#nomes compostos de variáveis são separados por _ , esse padrão é conhecido como: snake_case in Python
#nomes não podem começar com números, porém podem conter números
#se duas variáveis forém mudar de valores sempre usar letras minusculas 

friend_age = 23
countries_visited = 90

In [6]:
# Se sua variável tiver um valor fixo escrever em letras maiusculas 

PI = 3.14159
RADIANS_TO_DEGREES = 180 / PI

### Vamos falar de números?

In [7]:
#vamos ter dois tipos de número em python

age = 35  # integer
PI = 3.14159  # float

In [9]:
## adicionar o conceito de definição de variáveis 
type(PI)

float

### Operações Matemáticas

In [10]:
# Nada de especial acontece

maths_operation = 1 + 3 * 4 / 2 - 2
print(maths_operation)

5.0

In [11]:
int(4/2)

2

#### se eu tenho apenas números inteiros porque o resultado foi um float?
https://www.tutorialspoint.com/python/python_variable_types.htm

In [ ]:
# resultado da divisão é sempre um float

float_division = 12 / 3
print(float_division)

In [ ]:
##E a multiplicação?
##E se somarmos um inteiro com um float?

In [12]:
# pode pegar somente a parte inteira da divisão
integer_division = 12 // 3  # não é um tipo de arredondamento
print(integer_division)

4

In [ ]:
#alguém poderia explicar o camando a seguir?
remainder = 12 % 5
print(remainder)

In [13]:
x = 37
remainder = x % 2
print(remainder)

1

In [ ]:
# Em quais situações esse tipo de comando nos ajuda?

### Variáveis podem ser palavras? Frases?

In [ ]:
my_string = "Hello, world!"
single_quote_string = 'Hello, world!'

In [14]:
str = 'Hello World!'

print (str)          # imprimi a string completa
print (str[0])       # imprimi o primeiro caracter da string
print (str[2:5])     # imprimi do terceiro ao quinto caracter
print (str[2:])      # imprimi os caracteres a partir do terceiro
print (str * 2)      # imprimi a string duas vezes

Hello World!
H
llo
llo World!
Hello World!Hello World!

In [15]:
string_with_quotes = "Hello, it's me."
another_with_quotes = 'He said "You are amazing!" yesterday.'

In [16]:
multiline = """Hello, world.

My name is Jose. Welcome to my program.
"""
## Vocẽs podem imprimir para ver como fica?

print(multiline)

Hello, world.

My name is Jose. Welcome to my program.

In [18]:
# como juntar palavras formar frases?
# por que esse procedimento é tão importante? no trabalho do dia a dia
name = "Jose"
greeting = "Hello, " + name

In [19]:
greeting

'Hello, Jose'

In [20]:
# é possível juntar número com uma palavra? 
age = str(34)
age = "You are " + age
print(age)

TypeError: 'str' object is not callable

In [21]:
#sempre será necessário fazer a converter um número para string?
age = 34
another_greeting = f"I am {age}"
print(another_greeting)

I am 34

In [ ]:
#tem alguma maneira diferente de fazer isso?
age = 999
another_greeting = "I am {}".format(age)
print(another_greeting)

In [ ]:
# atualizar o valor de age?
age = 78
print(another_greeting)

In [ ]:
# Tem como solucionar esse problema?
another_greeting = "I am {age}"
final_greeting = another_greeting.format(age = 204)
print(final_greeting)

### Quem sabe um pouco de interação

In [22]:
my_name = "Elis"
your_name = input("Enter your name: ")

print(f"Hello {your_name}. My name is {my_name}.")

Enter your name: teste
Hello teste. My name is Elis.

In [23]:
age = int(input("Enter your age: "))
print(f"You have lived for {age * 12} months.")

Enter your age: 46
You have lived for 552 months.

In [ ]:
## Para brincar um pouco, calcule a quantidade de segundos aõ invés de meses

### Já tivemos um primeiro contato com as variáveis, agora podemos fazer algumas comparações?

In [1]:
## Vamos ver os sinais de comparação mais importantes

# A == B  (vamos verificar se A é igual a B)
# A > B (vamos verificar se A é maior que B)
# A < B (vamos verificar se B é maior que A)
# A >= B (vamos verificar se A é maior ou igual a B)
# A != B (Vamos verificar se A é diferente de B)

In [2]:
# o comparativo vale palavras também?
# vamos comparar a variável my_name com a variável name 
name = "EliS"
my_name = "elis"

# vamos fazer um print condicional?
if name == my_name:
    print (name)
if name != my_name:
    print ('Nomes diferentes')

Nomes diferentes

### E se for necessário utilizar multiplas condições?

In [4]:
name = "EliS"
name_2 = "Elis"
name_3 = "ElIs"
my_name = "elis"

# or = a ação será executada se alguma condição for satisfeita 
# and = a ação será executada se todas condições forem satisfeitas 

# vamos fazer um print condicional?
if name == my_name or name_3 == my_name or name_2 == my_name:
    print (name)

In [5]:
# vamos fazer um print condicional?
if name == my_name and name_3 == my_name and name_2 == my_name:
    print (name)

### E se em uma aplicação for necessário ter 1000 nomes, vamos ter que definir 1000 variáveis?

In [6]:
# qual a melhor maneira?

#maneira 1:
friend1 = "Rolf"
friend2 = "Bob"
friend3 = "Anne"

#maneira 2
friend = ["Rolf", "Anne", "Bob"]

In [7]:
#imprimir elementos de uma lista
# o primeiro elemento da lista é localizado pelo index 0, index = localizador
print (friend[0])

Rolf

In [8]:
#comprimento de uma lista
len(friend)

3

In [9]:
#valor máximo contido em uma lista
max(friend)

'Rolf'

In [10]:
#valor minimo contido em uma lista
min (friend)

'Anne'

In [11]:
# uma das grandes vantagens de usar é o fato de poder adicionar ou remover elementos
# vamos adicionar
friend.append(str(3))
print (friend)

['Rolf', 'Anne', 'Bob', '3']

In [12]:
# Como localizar algum elemento específico?
friend.index('Anne')

1

In [13]:
# é considerada boa prática fazer listas com apenas um tipo de informação
# ou seja, adicionar o número 3 (mesmo que em formato de string) na lista friend, não é considerado uam boa prática

In [17]:
#vamos remover
#friend.remove('3')
print (friend)

['Rolf', 'Anne', 'Bob']

In [22]:
#vamos trabalhar com uma lista de números agora
import random
lista_teste = random.sample(range(1, 100), 10)
print(lista_teste)
sum(lista_teste)

[21, 48, 53, 83, 52, 37, 51, 91, 71, 68]

575

In [19]:
len(lista_teste)

10

### Que tal adiconarmos uma coisa diferente, chamada 'for loop'!!

In [23]:
for i in range (0, len(friend)):
    print (friend[i])

Rolf
Anne
Bob

In [1]:
ppe

NameError: name 'ppe' is not defined

In [26]:
#podemos fazer um loop duplo?
idade = [12, 14, 10]

for i in range (0, len(friend)):
    #for j in range (0, len(idade)):
        print (friend[i], ' ', idade[i])

Rolf   12
Anne   14
Bob   10

### Podemos fazer uma lista de listas

In [27]:
#
friends = [["Rolf", 24], ["Bob", 30], ["Anne", 27]]
print(friends[0][1])  # 24
print(friends[1][0])  # Bob

24
Bob

In [ ]:
# tem como remover apenas 'Rolf'?

In [ ]:
# como faço para adicionar uma nova lista em uma lista de listas?

### Já ouviu falar em tuples?

In [28]:
#como definimos taples?
# inicialmente o conceito de tuple é muito similar à lista, porém não é possível adicionar ou remover elementos 

amigos_novos = ('João', 'Lindomar')

In [29]:
# tenta esse teste aí 
amigos_novos.remove('João')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#porque trabalhamos com tuples?

## Primeiro desafio do curso!

1. Vocês terão 15 minutos para essa tarefa 
2. Serão dadas duas listas e vocês terão que retornar uma lista com os elementos comuns em ambas listas. 
3. Na lista final não deve haver elementos repetidos
4. As listas são:
    1. lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
    2. lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]

In [6]:
## resposta
lista3 = set([])
lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]
for item2 in lista2:
    for item1 in lista1:
        if item2 == item1:
            lista3.add(item1)
print(lista3)
lista0 = list(lista3)
print(lista0)

{40, 50}
[40, 50]

### Hora de falar de sets

In [30]:
#como declarar?
amigos_mala = {'Maria', 'Luciana'}

#adicionar novos elementos
amigos_mala.add('Marcos')

#também é possível remover elementos

#vamos mostrar nosso set
print(amigos_mala)

{'Marcos', 'Maria', 'Luciana'}

In [31]:
#adicionar novos elementos
#a posição do novo elemento é aleatória
amigos_mala.add('Marcos')

print(amigos_mala)

{'Marcos', 'Maria', 'Luciana'}

In [ ]:
## porque trabalhos com set?

In [32]:
#vamos criar um novo set
amigos_DH = {'Luis', 'Marcos', 'Julia', 'Liz'}

In [33]:
mala_mas_nao_DH = amigos_mala.difference(amigos_DH)
print (mala_mas_nao_DH)

{'Maria', 'Luciana'}

In [34]:
#Amigos exclusivos em ambs sets
nao_esta_ambos = amigos_mala.symmetric_difference(amigos_DH)
nao_esta_ambos

{'Julia', 'Liz', 'Luciana', 'Luis', 'Maria'}

In [35]:
#intersection
interseccao = amigos_mala.intersection(amigos_DH)
interseccao

{'Marcos'}

In [36]:
#union
uniao = amigos_mala.union(amigos_DH)
uniao

{'Julia', 'Liz', 'Luciana', 'Luis', 'Marcos', 'Maria'}

In [37]:
# como a operação de listas podem se beneficiar dessas operações
lista=['Julia', 'Liz', 'Luciana', 'Luis', 'Maria', 'Julia', 'Liz', 'Luciana', 'Luis', 'Maria']
lista2=['Julia', 'Liz', 'Luciana2', 'Luis2', 'Maria2']

interseccao_list = set(lista).intersection(set(lista2))
interseccao_list

{'Julia', 'Liz'}

### Não podemos esquecer de dicionário!!

In [38]:
#como vamos declarar?
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27, 'Zé': 24}

In [40]:
# como fazemos para buscar valores em um dicionário?
print(friend_ages['Zé'])

24

In [41]:
#como adicionar mais elementos ?
friend_ages['Breno'] = 33
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [44]:
#comandos que podem ajudar
#friend_ages.keys()
#friend_ages.values()
friend_ages.items()

dict_items([('Rolf', 24), ('Adam', 30), ('Anne', 27), ('Zé', 24), ('Breno', 33)])

In [42]:
#vamos selecionar todos os amigos com 24 anos?
friend_ages.values()

dict_values([24, 30, 27, 24, 33])

In [ ]:
#key, value = friend_ages.popitem()

In [45]:
friend_ages.items()

dict_items([('Rolf', 24), ('Adam', 30), ('Anne', 27), ('Zé', 24), ('Breno', 33)])

In [46]:
len(friend_ages)

5

In [47]:
friend_ages["Rolf"] = 25
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [48]:
# pademos converter ums lista de tuples em um dicionário, utilizando o comando dict
friends = [("Rolf", 24), ("Adam", 30), ("Anne", 27)]
friend_ages1 = dict(friends)
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [49]:
friend_ages['Rolf']

25

### Vamos de mais um exercício?

1. Vamos trabalhar com o dicionário friend_ages
2. Imprima somente os nomes dos amigos com idade igual ou superior à 25

### Essa parte é extra para vocês estudarem após a aula

In [ ]:
## Estrutura while e if

import random
lista_teste = random.sample(range(1, 100), 10)

while len(lista_teste) > 5:
    print("A lista atual é:", lista_teste)
    
    user_input = int(input('Digite um número para ser excluído: '))
    
    if user_input in lista_teste:
        lista_teste.remove(user_input)
        
print("Vamos parar por aqui")

In [ ]:
friends = [("Rolf", 25), ("Anne", 37), ("Charlie", 31), ("Bob", 22)]
for name, age in friends:  
    print(f"{name} is {age} years old.")

In [ ]:
cars = ["ok", "ok", "ok", "faulty", "ok", "ok"]

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        break

    else:
        print("All cars built successfully. No faulty cars!")